{% extends theme.liquid %}
{% block contents %}
    <main class="container" id="main" role="main">
        <header class="header-small">
            <h1>{{ category.title }}</h1>
            {% if category.description %}
                <p>{{ category.description }}</p>
            {% endif %}
        </header>
        {% paginate category.items by settings.default_page_size %}
            {% if category.items == empty %}
                <p class="empty-block">This category has no items</p>
            {% else %}
                <ul class="tiles">
                    {% for item in category.items -%}
                        <li class="tile">
                            <a href="{{ item.url }}">
                                <div class="media item-media">
                                    {% if item.featured_image.url_medium %} 
                                        {{ item.featured_image.url_medium | img_tag:item.title }}
                                    {% else %}
                                        {{ "https://d33i624pw6jj68.cloudfront.net/themes/simple/assets/images/default_item_image.svg" | img_tag:item.title }}
                                    {% endif %}
                                </div>
                                <div class="item-info">
                                    <h4>{{ item.title }}</h4>
                                    <p>{{ item.price | money: item.currency }}</p>
                                </div>
                            </a>
                        </li>
                    {% endfor -%}
                </ul>
                {% include pagination.liquid %}
            {% endif %}
        {% endpaginate %}
    </main>
{% endblock %}