{% extends theme.liquid %}
{% block contents %}
    <header class="header container">
        {% editable_region header %}
            <h1>{{ store.name }}</h1>
            {% if page.meta_description %}
                <p>{{ page.meta_description }}</p>
            {% endif %}
        {% endeditable_region %}
    </header>
    <main class="container" id="main" role="main">
        {% paginate categories.featured.items by settings.index_page_size %}
            {% if categories.featured.items == empty %}
                <p class="empty-block">The featured category is empty. Add some items to this category in your dashboard.</p>
            {% else %}
                <ul class="tiles">
                    {% for item in categories.featured.items -%}
                        <li class="tile">
                            <a href="{{ item.url }}">
                                <div class="media item-media">
                                    {% if item.featured_image.url_medium %} 
                                        {{ item.featured_image.url_medium | img_tag:item.title }}
                                    {% else %}
                                        {{ "https://d33i624pw6jj68.cloudfront.net/themes/simple/assets/images/default_item_image.svg" | img_tag:item.title }}
                                    {% endif %}
                                </div>
                                <div class="item-info">
                                    <h4>{{ item.title }}</h4>
                                    <p>{{ item.price | money: item.currency }}</p>
                                </div>
                            </a>
                        </li>
                    {% endfor -%}
                </ul>
                {% include pagination.liquid %}
            {% endif %}
        {% endpaginate %}
    </main>
{% endblock %}